<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="header center text-color">
        Header
    </div>
    <div class="body">
        <div class="aside center text-color">Aside</div>
        <div class="article text-color">
            <div class="big-image center">Image</div>
            <div class="art">Article</div>
            <div class="img-box">
                <div class="image center">Image</div>
                <div class="image center">Image</div>
                <div class="image center">Image</div>
            </div>
        </div>
    </div>
    <div class="footer center text-color">
        Footer
    </div>
</body>
</html>